body {
    background: linear-gradient(to top, rgba(248, 248, 248, 0)25%, rgba(248, 248, 248, 0)25%),rgb(100, 10, 10);
    background-position: center;
    background-size: cover;
    height: 90vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(56, 0, 0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-buttons ul {
    list-style-type: none;
}

  .nav-buttons ul li {
    margin: 0 10px;
  }
  
  .nav-buttons a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
  }

  .logo img {
    height: 50px;
  }

/* -------------------------------------------- */
/* ^^^ nav ...... center >>> */

.new-post {
    max-width: 700px;
    width: 80%;
    padding: 5% 0 4% 0;
    margin: auto;

}

form {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    max-width: 100%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

form .input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 14px;
}

form .inputSubmit {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: darkred;
    width: 100%;
    border: 0;
    padding: 15px;
    color: black;
    font-size: 14px;
    cursor: pointer;
}

form p {
    font-family: "Roboto", sans-serif;
    background: darkred;
    width: 100%;
    border: 0;
    padding: 15px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
}

form ul {
    list-style-type: none;
    
}

form li {
    margin: 15px 0 0;
    color: white;
    font-size: 20px;
    color: darkred;
    display: flex;
    align-items: center;
}

form .inputSubmit:hover, form inputSubmit:active {
    background: red;
    color: black;
}

/* Responsive design for large devices */
@media (min-width: 992px) and (max-width: 1199px) {
    .emojis img {
        width: 70px;
        height: auto;
    }
}

/* Responsive design for medium devices */
@media (min-width: 768px) and (max-width: 991px) {
    .emojis img {
        width: 50px;
        height: auto;
    }
}

/* Responsive design for small devices */
@media (min-width: 576px) and (max-width: 767px) {
    .emojis img {
        width: 35px;
        height: auto;
    }
}

/* Responsive design for extra small devices */
@media (max-width: 575px) {
    .emojis img {
        width: 20px;
        height: auto;
    }
}
