    * {
	box-sizing: border-box;
}

body {
        background: black;
        height: 100vh;
        margin: 0;
}


.red-bar {
        background-color: rgb(128, 15, 0);
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 20px;
      }
      
      
.lighter-red-row {
        background-color: rgb(41, 0, 0);
		color: white;
        height: 35px;
        display: flex;
        align-items: center;
        padding: 0 20px;
      }

.container {
	display: flex;
	flex-wrap: wrap;
}

.newsfeed {
	display: flex;
	flex-wrap: wrap;
}

.review {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 10px;
	padding: 10px;
	background-color: rgba(82, 2, 2, 0.705);
	color: white;
	box-shadow: 0px 0px 5px #ccc;
	border: 1px solid rgb(36, 20, 20);
	border-radius: 10px;
	box-sizing: border-box;
}

.entry-image {
	flex: 0 0 30%;
	margin-right: 20px;
}

.entry-image img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.review h2 {
	margin: 0;
	font-size: 24px;
}

.review .rating {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

.review .comment {
	margin-bottom: 10px;
	font-style: italic;
}

.search-bar input[type="text"] {
	width: 70%;
	margin-left: 5px;
	padding: 5px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	background-color: rgb(197, 129, 129);
	color: #fff;
}

.search-bar button[type="submit"] {
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: #ccc;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.search-bar button[type="submit"]:hover {
	background-color: #aaa;
}


.newsfeed-page-button {
	margin-left: 10px;
	padding: 5px 5px;
	border: none;
	border-radius: 5px;
	background-color: darkred;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.newsfeed-page-button:hover {
	background-color: rgb(141, 61, 61);
}

.sort-by {
	padding: 3px;
	border: none;
	border-radius: 5px;
	background-color: darkred;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.sort-by:hover {
	background-color: rgb(141, 61, 61);
}


#navbar {
	overflow: hidden;
	background-color: #333;
}

	
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

	/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 60px;
}