body {
    background: linear-gradient(to top, rgba(248, 248, 248, 0)25%, rgba(248, 248, 248, 0)25%),rgb(100, 10, 10);
    background-size: cover;
    height: 90vh;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.login {
    max-width: 400px;
    width: 80%;
    padding: 5% 0 0;
    margin:auto;
}

h1 img {
    position:relative;
    margin-left:3%;
    margin-top:0%;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid black;
    border-radius:5%;
    
}

form {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    max-width: 100%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

form .input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 14px;
}

form .inputSubmit {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: darkred;
    width: 100%;
    border: 0;
    padding: 15px;
    color: black;
    font-size: 14px;
    cursor: pointer;
}

form .inputSubmit:hover, form inputSubmit:active {
    background: red;
    color: black;
}

form .message {
    margin: 15px 0 0;
    color: white;
    font-size: 20px;
}

form .message a {
    color: darkred;
    text-decoration: none;
}

/* Responsive design for large devices */
@media (min-width: 992px) and (max-width: 1199px) {
    .login {
        width: 50%;
    }
}

/* Responsive design for medium devices */
@media (min-width: 768px) and (max-width: 991px) {
    .login {
        width: 60%;
    }

    form .input,
    form .inputSubmit {
        font-size: 12px;
    }
}

/* Responsive design for small devices */
@media (min-width: 576px) and (max-width: 767px) {
    .login {
        width: 70%;
    }

    form .input,
    form .inputSubmit {
        font-size: 12px;
    }
}

/* Responsive design for extra small devices */
@media (max-width: 575px) {
    .login {
        width: 80%;
    }

    form .input,
    form .inputSubmit {
        font-size: 12px;
    }
}
