* {
	box-sizing: border-box;
}

body {
        background: black;
        height: 100vh;
        margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(56, 0, 0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-buttons ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  
}

.nav-buttons ul li {
  margin: 0 15px;
  display: inline;
}

  
  .nav-buttons a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17;
  }

  .logo img {
    height: 50px;
  }

.scroll-box {
	background-color: rgb(41, 0, 0);
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  height: 50px;
}

.hatescribed-item {
	height: 30px;
	margin-left: 10px;
	border: none;
	border-radius: 5px;
	background-color: darkred;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.hatescribed-item:hover {
	background-color: rgb(141, 61, 61);
}

/* Scrollbar styles */
.scroll-box::-webkit-scrollbar {
  width: 10px;
}

.scroll-box::-webkit-scrollbar-track {
  background: #504343;
}

.scroll-box::-webkit-scrollbar-thumb {
  background-color: darkred;
  border-radius: 10px;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
  background-color: #8e3e3e;
}

.red-bar {
        background-color: rgb(128, 15, 0);
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 20px;
      }
      
.lighter-red-row {
        background-color: rgb(41, 0, 0);
		color: white;
        height: 35px;
        display: flex;
        align-items: center;
        padding: 0 20px;
      }

.container {
	display: flex;
	flex-wrap: wrap;
}

.newsfeed {
	display: flex;
	flex-wrap: wrap;
}

.entry {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 10px;
	padding: 10px;
	background-color: rgba(82, 2, 2, 0.705);
	color: white;
	box-shadow: 0px 0px 5px #ccc;
	border: 1px solid rgb(36, 20, 20);
	border-radius: 10px;
	box-sizing: border-box;
}

.entry-image {
	flex: 0 0 30%;
	margin-right: 20px;
}

.entry-image img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.entry-content {
	flex: 0 0 70%;
}

.entry h2 {
	margin: 0;
	font-size: 24px;
	color: wheat;
}

.entry .rating {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

.entry .comment {
	margin-bottom: 10px;
	font-style: italic;
}

.entry .tags {
	margin-bottom: 10px;
}

.entry .tags button {
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: darkred;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.entry .tags button:hover {
	background-color: rgb(141, 61, 61);
}

.entry .view-ratings, .entry .add-rating {
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: darkred;
	color: #fff;
	font-size: 16px
}

.entry .view-ratings:hover, .entry .add-rating:hover {
	background-color: rgb(141, 61, 61);
}


.search-bar input[type="text"] {
	width: 70%;
	margin-left: 5px;
	padding: 5px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	background-color: rgb(197, 129, 129);
	color: #fff;
}

.search-bar button[type="submit"] {
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: #ccc;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.search-bar button[type="submit"]:hover {
	background-color: #aaa;
}


.newsfeed-page-button {
	margin-left: 10px;
	padding: 5px 5px;
	border: none;
	border-radius: 5px;
	background-color: darkred;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.newsfeed-page-button:hover {
	background-color: rgb(141, 61, 61);
}

.sort-by {
	padding: 3px;
	border: none;
	border-radius: 5px;
	background-color: darkred;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.sort-by:hover {
	background-color: rgb(141, 61, 61);
}

.margin {
	/*margin-top: 300px;*/
}

	#navbar {
		overflow: hidden;
		background-color: #333;
	}

	.sticky {
		position: fixed;
		top: 0;
		width: 100%;
	}

	.sticky + .content {
		padding-top: 60px;
	}

